@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Import Nunito font from Google Fonts */
body {
  font-family: 'Nunito', sans-serif;
}

/* Custom styles for typing effect */
.typing-animation {
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  animation: typing 2s steps(30, end) forwards, blinkCaret .75s step-end infinite;
  display: inline-block;
}

@keyframes typing {
  from { width: 0; }
  to { width: 22ch; }
}

@keyframes blinkCaret {
  from, to { border-color: transparent; }
  50% { border-color: white; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes tap {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.tap-animation {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s forwards, tap 1s infinite;
  animation-delay: 2s; /* Delay to match typing animation duration */
  opacity: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.click-text {
  animation: fadeIn 2s forwards;
  animation-delay: 2s; /* Delay to match typing animation duration */
  opacity: 0;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

@media (max-width: 640px) {
  .waveform-bar {
    height: 50px; /* Smaller height for mobile screens */
  }
}

@media (min-width: 641px) {
  .waveform-bar {
    height: 150px; /* Larger height for larger screens */
  }
}

body {
  background: linear-gradient(270deg, #4A90E2, #D0021B, #F5A623, #50E3C2);
  background-size: 600% 600%;
  animation: gradient-shift 15s linear infinite;
}

::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-style: italic;
}

/* Adjusted styles for better visibility and alignment */
.centered-box {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  padding: 2rem 4rem; /* Added more padding for better visibility */
  border-radius: 1rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  max-width: 28rem; /* Updated max-width for wider text box */
  width: 100%;
  margin: 0 auto; /* Center the box horizontally */
  text-align: center; /* Center the text within the box */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the song list */
.max-h-60 {
  max-height: 15rem;
  overflow-y: auto;
}

/* Custom styles for buttons */
.bg-darkGray {
  background-color: #333;
}

.bg-transparent {
  background-color: transparent;
  border: 2px solid #333;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bg-transparent:hover {
  background-color: rgba(51, 51, 51, 0.8);
  color: white;
}

/* Custom styles for the input box */
.input-box {
  width: 100%;
  padding: 1rem;
  border: 2px solid #333;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 1rem;
  font-style: italic;
  outline: none;
}

.input-box::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
